FORMAT: 1A
HOST: https://private-478a2-livehouston.apiary-mock.com

# LiveHouston API

The LiveHouston API drives the LiveHouston Mobile Apps (iOS and Android)

## Events [/events]

### List all Events [GET]

  + Response 200 (application/json)

        {
            "featured" : [
                {
                    "eventTitle" : "7TH ANNUAL WAVE HOLIDAY LIGHTS TOURS",
                    "date" : "December 13, 2016 - December 22, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "1160 W. 26TH STREET | HOUSTON, TX 77008",
                    "eventTimes" : "6:30 PM to 9:30 PM",
                    "eventAdmission" : "$35",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.eventbrite.com/e/7th-annual-wave-holiday-lights-tours-tickets-29053805715",
                    "event_image_url" : "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F25752908%2F18565618941%2F1%2Foriginal.jpg?w=800&rect=0%2C0%2C650%2C325&s=039a59c7642a7c5e331a4330902e3a6c",
                    "category" : "Holiday Lights",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "A CHRISTMAS CAROL-A GHOST STORY OF CHRISTMAS",
                    "date" : "November 19, 2016 - December 29, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "615 TEXAS AVENUE | HOUSTON, TX 77002",
                    "eventTimes" : "Varies",
                    "eventAdmission" : "$35-$70",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol",
                    "event_image_url" : "https://placeholdit.imgix.net/~text?txtsize=18&txt=86%C3%97114&w=86&h=114",
                    "category" : "Holiday Lights",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol"
                }
                  ],
            "ongoing" : [
                {
                    "eventTitle" : "'DIE HARD' IN THE PARKING LOT",
                    "date" : "December 23, 2016",
                    "eventLocation" : "SAINT ARNOLD BREWERY",
                    "event_location_website" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "eventAddress" : "2000 LYONS AVE | HOUSTON, TX 77020",
                    "eventTimes" : "6:00 PM to 10:00 PM",
                    "eventAdmission" : "Free",
                    "eventDescription" : "'Die Hard' in Parking Lot presented by Alamo Drafthouse Rolling Roadshow - Starts at 6:00 PM",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "event_image_url" : "",
                    "category" : "Outdoor",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "1 HOUR MINI-MYSTERY",
                    "date" : "Every Friday From 7-8pm",
                    "eventLocation" : "MURDER BY CHOCOLATE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/murder-by-chocolate/27747/",
                    "eventAddress" : "18201-B EGRET BAY BLVD. | HOUSTON, TX 77058",
                    "eventTimes" : "7:00 PM to 8:00 PM",
                    "eventAdmission" : "$20 per person",
                    "eventDescription" : "A Hilarious Guest Interactive Mystery Theater where a Crime takes place and then YOU have a choice...-Sit back relax and try to solve a mystery... OR-Take on a starring rolePerhaps be the murderer or be murdered!",
                    "areaOfTown" : "League City",
                    "event_website_url" : "http://www.murderbychocolate.com/mini-mystery",
                    "event_image_url" : "http://www.murderbychocolate.com/img/2372/019.jpg?sitetimestamp=636175113580000000",
                    "category" : "Annual Events",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "http://www.murderbychocolate.com/mini-mystery"
                }
                  ]
        }

## Categories [/filter_categories]

### List all Filter Categories [GET]

  + Response 200 (application/json)

        [
            {
                "created_at": "2017-01-16T02:26:31.328Z",
                "id": 1, 
                "title": "Attractions", 
                "updated_at": "2017-01-16T02:26:31.328Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/1.json"
            },
            {
                "created_at": "2017-01-16T02:26:41.856Z",
                "id": 2,
                "title": "Event Centers",
                "updated_at":"2017-01-16T02:26:41.856Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/2.json"
            },
            {
                "created_at":"2017-01-16T02:26:53.505Z",
                "id":3,
                "title":"Golf Courses",
                "updated_at":"2017-01-16T02:26:53.505Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/3.json"
            },
            {
                "created_at":"2017-01-16T02:27:03.021Z",
                "id":4,
                "title":"Health \u0026 Fitness",
                "updated_at":"2017-01-16T02:27:03.021Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/4.json"
            },
            {
                "created_at":"2017-01-16T02:27:11.703Z",
            "id":5,
            "title":"Historic Sites",
            "updated_at":"2017-01-16T02:27:11.703Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/5.json"
            },
            {
            "created_at":"2017-01-16T02:27:21.978Z",
            "id":6,
            "title":"Museums",
            "updated_at":"2017-01-16T02:27:21.978Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/6.json"
            },
            {
            "created_at":"2017-01-16T02:27:32.007Z",
            "id":7,
            "title":"Parks \u0026 Outdoors",
            "updated_at":"2017-01-16T02:27:32.007Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/7.json"
            },
            {
            "created_at":"2017-01-16T02:27:41.078Z",
            "id":8,
            "title":"Restaurants",
            "updated_at":"2017-01-16T02:27:41.078Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/8.json"
            },
            {
            "created_at":"2017-01-16T02:27:47.824Z",
            "id":9,
            "title":"Shopping",
            "updated_at":"2017-01-16T02:27:47.824Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/9.json"
            },
            {
            "created_at":"2017-01-16T02:27:56.581Z",
            "id":10,
            "title":"Theatre",
            "updated_at":"2017-01-16T02:27:56.581Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/10.json"
            }
        ]
        
## Neighborhoods [/filter_neighborhoods]

### List all Neighborhoods [GET]

+ Response 200 (application/json)

        [
            {
            "created_at":"2017-01-16T02:35:44.641Z",
            "id":1,
            "title":"Acre Homes",
            "updated_at":"2017-01-16T02:35:44.641Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/1.json"
            },
            {
            "created_at":"2017-01-16T02:35:53.068Z",
            "id":2,
            "title":"Chinatown",
            "updated_at":"2017-01-16T02:35:53.068Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/2.json"
            },
            {
            "created_at":"2017-01-16T02:36:07.730Z",
            "id":3,
            "title":"Clear Lake / Bay Area",
            "updated_at":"2017-01-16T02:36:07.730Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/3.json"
            },
            {
            "created_at":"2017-01-16T02:36:14.734Z",
            "id":4,
            "title":"Downtown",
            "updated_at":"2017-01-16T02:36:14.734Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/4.json"
            },
            {
            "created_at":"2017-01-16T02:36:24.505Z",
            "id":5,
            "title":"Eado / East End",
            "updated_at":"2017-01-16T02:36:24.505Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/5.json"
            },
            {
            "created_at":"2017-01-16T02:36:33.696Z",
            "id":6,
            "title":"Galleria / Uptown",
            "updated_at":"2017-01-16T02:36:33.696Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/6.json"
            },
            {
            "created_at":"2017-01-16T02:36:41.849Z",
            "id":7,
            "title":"Galveston",
            "updated_at":"2017-01-16T02:36:41.849Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/7.json"
            },
            {
            "created_at":"2017-01-16T02:36:52.169Z",
            "id":8,
            "title":"Greenspoint / Uptown",
            "updated_at":"2017-01-16T02:36:52.169Z",
            "url": "https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/8.json"
            },
            {
            "created_at":"2017-01-16T02:37:00.103Z",
            "id":9,
            "title":"Houston Heights",
            "updated_at":"2017-01-16T02:37:00.103Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/9.json"
            },
            {
            "created_at":"2017-01-16T02:37:07.501Z",
            "id":10,
            "title":"Medical Center",
            "updated_at":"2017-01-16T02:37:07.501Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/10.json"
            },
            {
            "created_at":"2017-01-16T02:37:15.038Z",
            "id":11,
            "title":"Memorial Park",
            "updated_at":"2017-01-16T02:37:15.038Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/11.json"
            },
            {
            "created_at":"2017-01-16T02:37:26.645Z",
            "id":12,
            "title":"Memorial / Energy",
            "updated_at":"2017-01-16T02:37:26.645Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/12.json"
            },
            {
            "created_at":"2017-01-16T02:37:35.065Z",
            "id":13,
            "title":"Midtown",
            "updated_at":"2017-01-16T02:37:35.065Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/13.json"
            },
            {
            "created_at":"2017-01-16T02:37:44.015Z",
            "id":14,
            "title":"Montrose",
            "updated_at":"2017-01-16T02:37:44.015Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/14.json"
            },
            {
            "created_at":"2017-01-16T02:37:53.950Z",
            "id":15,
            "title":"Museum District",
            "updated_at":"2017-01-16T02:37:53.950Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/15.json"
            },
            {
            "created_at":"2017-01-16T02:38:00.830Z",
            "id":16,
            "title":"River Oaks",
            "updated_at":"2017-01-16T02:38:00.830Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/16.json"
            },
            {
            "created_at":"2017-01-16T02:38:11.324Z",
            "id":17,
            "title":"Hobby District",
            "updated_at":"2017-01-16T02:38:11.324Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/17.json"
            },
            {
            "created_at":"2017-01-16T02:38:19.930Z",
            "id":18,
            "title":"Upper Kirby",
            "updated_at":"2017-01-16T02:38:19.930Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/18.json"
            },
            {
            "created_at":"2017-01-16T02:38:29.384Z",
            "id":19,
            "title":"West University",
            "updated_at":"2017-01-16T02:38:29.384Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/19.json"
            }
        ]

## Things TO DO [/thingstodo]

### List all Things To DO [GET]

  + Response 200 (application/json)

        {
          "attractions" : [
              {
                "name" : "14 Pews",
                "phone" : "(281) 888-9677",
                "address" : "800 Aurora Street | Houston, TX 77009",
                "areaOfTown" : "Houston Heights",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_14-Pews.jpg",
                "website" : "http://14pews.com/pages/home.asp",
                "category" : "Other",
                "description" : "Taking over the space that once housed the Aurora Picture Show, the new 14 Pews microcinema is the brainchild of proprietor Cressandra Thibodeaux who recently returned to Houston from Los Angeles. The small cinema space reopened in August 2010 in the old white wooden church at 800 Aurora and is already garnering praise for its innovative and sometimes provocative programming.\n\nFilms including Crawford: A Documentary, Outrage and For the Bible Tells Me So are showing here and plans are underway to bring more independent films and documentaries to the fledgling organization, as well as community events and small film festivals.\n\n14 Pews aims to pick up the space’s legacy of bringing a convergence of artistic opportunity to the Heights.",
                "ammenities" : [],
                "meeting_facilities" : [{}]
              },
              {
                "name" : "8th Wonder Brewery",
                "phone" : "(713) 229-0868",
                "address" : "2202 Dallas Street | Houston, TX 77003",
                "areaOfTown" : "EaDo/East End",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_8th-wonder-5.jpg",
                "website" : "http://8thwonderbrew.com",
                "category" : "",
                "description" : "The brains behind Houston’s Eatsie Boys food truck and Eatsie Boys Cafe have branched out with another concept, 8th Wonder Brewery.\n\nLocated in EaDo and named after the city’s iconic Astrodome, this brewery produces seasonal selections and limited-edition offerings. The brewery began offering tours in May 2013.\n\nPracticing their craft in a dome-like warehouse on the edge of Downtown and in the shadow of the major sports stadiums, these brewers say they are making Houston's 'craft beer for the home team.' The brews themselves are unique, ranging from the Rocket Fuel (Vietnamese coffee infused Porter) to the MCA Rauch, a classic Bamburg Rauch beer.",
                "ammenities" : [
                  "Outdoor Area",
                  "Self Parking",
                  "Free Wireless",
                  "Live Music",
                  "Pet Friendly",
                  "Accessible via Light Rail",
                  "Wireless",
                  "ADA Accessible"
                ],
                "meeting_facilities": [
                        {
                        "number_of_rooms": 4,
                        "total_squared_feet": 5000,
                        "audio_visual" : "Audio/Visual",
                        "On-Site Catering": true,
                        "Private Room": true
                        }
                    ]
                },
                {
                  "name" : "The 1940 Air Terminal Museum",
                  "phone" : "(713) 454-1940",
                  "address" : "8325 Travelair Street | Houston, TX 77061",
                  "areaOfTown" : "Hobby Airport/Third Ward",
                  "detailImageURL" : "https://res-1.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_1940-air-terminal-2.jpg",
                  "website" : "http://www.1940airterminal.org",
                  "category" : "Airport",
                  "description" : "The 1940 Air Terminal Museum is the only educational institution in Houston dedicated to promoting the city's significant civil aviation history.\n\nThe Houston Municipal Airport Terminal is a beautiful and rare example of classic art deco airport architecture from the golden age of flight. The Terminal served Houston during the years when air travelers dressed in their finest and embarked for exotic destinations aboard roaring propliners like the Douglas DC-3 and the Lockheed Constellation.\n\nDesigned by noted architect Joseph Finger (who also designed Houston's City Hall), the Terminal was built to meet Houston's growing role as a major center for air commerce in the 1930s. The Terminal was completed in 1940 and served as the primary commercial air terminal for Houston until 1954.\n\nWhile most major cities have razed the beautiful art deco airport terminals of the 1930s and 1940s to make way for modern buildings, jet traffic or the closing of airports, the Houston Municipal Airport Terminal stands on William P. Hobby Airport as a quiet monument to the rich and varied history of aviation in the region.\n\nThe Aviation Heritage Gallery features exhibits on the Douglas DC-3, including original oil paintings by Jonathan Frank.\n\nThe Airline Galleries, Hall of Flight, and Starliner Theater feature original aviation art, stunning period photographs, outstanding scale aircraft models, artifacts, uniforms, memorabilia and documents of various airlines, Howard Hughes and Houston Cessna dealer King Cruse.\n\nThe Aviation Meteorology and Air Traffic Control Galleries feature vintage weather and ATC equipment such as teletypes, radios, and light guns as well as weather charts and navigational maps. The galleries also feature Houston's aviation history and the history of learning to fly.\n\nThe Children's Dream of Flight Gallery features vintage aviation toys, games, and books as well as an aviation play table and reading library to inspire young visitors to dream of flight.",
                  "ammenities" : [
                    "Child Rates",
                    "Private Room for Special Events",
                    "ADA Accessible",
                    "Motorcoach Parking",
                    "Gift Shop",
                    "Wireless",
                    "Advance Notice Required for Groups"
                  ],
                  "meeting_facilities": [
                    {
                      "number_of_rooms" : 3,
                      "banquet_capacity" : 200,
                      "reception_capacity" : 500,
                      "audio_visual" : "Audio/Visual"
                    }
                  ]
                  }
            ]
        }
        
## Featured Events [/featured] 

### List all Featured Events [GET]

+ Response 200 (application/json)

        [
            {
                "created_at":"2017-01-17T04:03:40.099Z",
                "event_address":"1300 HOLMAN STREET | HOUSTON, TX 77004",
                "event_category":"FEATURED",
                "event_date":"January 16, 2017",
                "event_description":"The MLK Grande Parade Is One Of the Largest Single Day Multicultural Events In The U.S. That Commemorate The MLK National Holiday Observance. The Parade Will Be Held On January 16, 2017 In Houston's Midtown Originating On San Jacinto Street 7 Elgin Street Beginning @ 10A (CST).",
                "event_image_url":"https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/ec561f75-cd8a-459f-abc7-6d3b44a0f06c.jpg",
                "event_phone":"(713) 953-1633",
                "event_website":"http://www.mlkgrandeparade.org/",
                "id":1,
                "ticket_purchase_url":"",
                "tickets_available":false,
                "title":"23RD ANNUAL MLK GRANDE PARADE MIDTOWN HOUSTON",
                "updated_at":"2017-01-17T04:03:40.099Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/1.json"
            },
            {
                "created_at":"2017-01-17T04:04:28.528Z",
                "event_address":"1515 HERMANN DRIVE | HOUSTON, TX 77004",
                "event_category":"FEATURED",
                "event_date":"January 14, 2017 - April 23, 2017",
                "event_description":"Body Worlds RX at The Health Museum is a prescription for healthy living. Take one large dose of enlightenment during the Houston debut of Body Worlds RX. Real human bodies show you details of today's common diseases and the inner workings of your anatomy. Be inspired and empowered to take steps toward a healthier life.\\n\\nFrom organs to muscles to the nervous system and to skeletal structures, Body Worlds RX gives an unprecedented look inside the most sophisticated mechanism in the world, the human body.",
                "event_image_url":"https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/5e11133d-698d-4ac9-b34c-b032ce7e9349.jpg",
                "event_phone":"",
                "event_website":"http://www.mhms.org/ManageDetail/Detail_Default.aspx?contentid=1949\u0026categoryid=420",
                "id":2,
                "ticket_purchase_url":"",
                "tickets_available":false,
                "title":"BODY WORLDS RX",
                "updated_at":"2017-01-17T04:04:28.528Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/2.json"
            },
            {
                "created_at":"2017-01-17T04:05:10.501Z",
                "event_address":"1001 AVENIDA DE LAS AMERICAS | HOUSTON, TX 77010",
                "event_category":"FEATURED",
                "event_date":"January 15, 2017",
                "event_description":"This annual 26.2, 13.1 and 3.1 mile run, which begins and ends at downtown's George R. Brown Convention Center, has steadily grown to attract more than 20,000 entrants from around the world and 200,000 spectators. ",
                "event_image_url":"https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/6f3a39e5-9732-cb42-dc13ebfdefcfa11a.jpg",
                "event_phone":"713-957-3453",
                "event_website":"http://www.chevronhoustonmarathon.com/",
                "id":3,
                "ticket_purchase_url":"https://www.visithoustontexas.com/listings/george-r-brown-convention-center/22562/",
                "tickets_available":true,
                "title":"CHEVRON HOUSTON MARATHON",
                "updated_at":"2017-01-17T04:05:10.501Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/3.json"
            },
            {
                "created_at":"2017-01-17T04:05:51.459Z",
                "event_address":"615 LOUISIANA ST. | HOUSTON, TX 77002",
                "event_category":"FEATURED",
                "event_date":"January 17, 2017 8:00PM",
                "event_description":"",
                "event_image_url":"https://res-4.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/9eac8aa3-6a4d-4dda-9ee2-d91166bc3eab.jpg",
                "event_phone":"(713) 227-4772",
                "event_website":"http://www.spahouston.org/show?ShowId=167",
                "id":4,
                "ticket_purchase_url":"http://www.spahouston.org/show?ShowId=167",
                "tickets_available":true,
                "title":"DR. NEIL DEGRASSE TYSON",
                "updated_at":"2017-01-17T04:05:51.459Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/4.json"
            },
            {
                "created_at":"2017-01-17T04:06:27.385Z",
                "event_address":"ALL OVER HOUSTON - SEE LOCATIONS IN DESCRIPTION",
                "event_category":"FEATURED",
                "event_date":"October 8, 2016 - January 14, 2017",
                "event_description":"",
                "event_image_url":"https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/069bc7d8-9a0e-406c-a0fb-60168c5d0704.jpg",
                "event_phone":"",
                "event_website":"http://www.housuperbowl.com/touchdown-tour",
                "id":5,
                "ticket_purchase_url":"",
                "tickets_available":false,
                "title":"HOUSTON SUPER BOWL TOUCHDOWN TOUR",
                "updated_at":"2017-01-17T04:06:27.385Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/5.json"
            }
        ]