FORMAT: 1A
HOST: https://private-478a2-livehouston.apiary-mock.com

# LiveHouston API

The LiveHouston API drives the LiveHouston Mobile Apps (iOS and Android)

## Events [/events]

### List all Events [GET]

  + Response 200 (application/json)

        {
            "featured" : [
                {
                    "eventTitle" : "7TH ANNUAL WAVE HOLIDAY LIGHTS TOURS",
                    "date" : "December 13, 2016 - December 22, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "1160 W. 26TH STREET | HOUSTON, TX 77008",
                    "eventTimes" : "6:30 PM to 9:30 PM",
                    "eventAdmission" : "$35",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.eventbrite.com/e/7th-annual-wave-holiday-lights-tours-tickets-29053805715",
                    "event_image_url" : "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F25752908%2F18565618941%2F1%2Foriginal.jpg?w=800&rect=0%2C0%2C650%2C325&s=039a59c7642a7c5e331a4330902e3a6c",
                    "category" : "Holiday Lights",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "A CHRISTMAS CAROL-A GHOST STORY OF CHRISTMAS",
                    "date" : "November 19, 2016 - December 29, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "615 TEXAS AVENUE | HOUSTON, TX 77002",
                    "eventTimes" : "Varies",
                    "eventAdmission" : "$35-$70",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol",
                    "event_image_url" : "https://placeholdit.imgix.net/~text?txtsize=18&txt=86%C3%97114&w=86&h=114",
                    "category" : "Holiday Lights",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol"
                }
                  ],
            "ongoing" : [
                {
                    "eventTitle" : "'DIE HARD' IN THE PARKING LOT",
                    "date" : "December 23, 2016",
                    "eventLocation" : "SAINT ARNOLD BREWERY",
                    "event_location_website" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "eventAddress" : "2000 LYONS AVE | HOUSTON, TX 77020",
                    "eventTimes" : "6:00 PM to 10:00 PM",
                    "eventAdmission" : "Free",
                    "eventDescription" : "'Die Hard' in Parking Lot presented by Alamo Drafthouse Rolling Roadshow - Starts at 6:00 PM",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "event_image_url" : "",
                    "category" : "Outdoor",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "1 HOUR MINI-MYSTERY",
                    "date" : "Every Friday From 7-8pm",
                    "eventLocation" : "MURDER BY CHOCOLATE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/murder-by-chocolate/27747/",
                    "eventAddress" : "18201-B EGRET BAY BLVD. | HOUSTON, TX 77058",
                    "eventTimes" : "7:00 PM to 8:00 PM",
                    "eventAdmission" : "$20 per person",
                    "eventDescription" : "A Hilarious Guest Interactive Mystery Theater where a Crime takes place and then YOU have a choice...-Sit back relax and try to solve a mystery... OR-Take on a starring rolePerhaps be the murderer or be murdered!",
                    "areaOfTown" : "League City",
                    "event_website_url" : "http://www.murderbychocolate.com/mini-mystery",
                    "event_image_url" : "http://www.murderbychocolate.com/img/2372/019.jpg?sitetimestamp=636175113580000000",
                    "category" : "Annual Events",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "http://www.murderbychocolate.com/mini-mystery"
                }
                  ]
        }

## Categories [/filter_categories]

### List all Filter Categories [GET]

  + Response 200 (application/json)

        [
            {
                "created_at": "2017-01-16T02:26:31.328Z",
                "id": 1, 
                "title": "Attractions", 
                "updated_at": "2017-01-16T02:26:31.328Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/1.json"
            },
            {
                "created_at": "2017-01-16T02:26:41.856Z",
                "id": 2,
                "title": "Event Centers",
                "updated_at":"2017-01-16T02:26:41.856Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/2.json"
            },
            {
                "created_at":"2017-01-16T02:26:53.505Z",
                "id":3,
                "title":"Golf Courses",
                "updated_at":"2017-01-16T02:26:53.505Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/3.json"
            },
            {
                "created_at":"2017-01-16T02:27:03.021Z",
                "id":4,
                "title":"Health \u0026 Fitness",
                "updated_at":"2017-01-16T02:27:03.021Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/4.json"
            },
            {
                "created_at":"2017-01-16T02:27:11.703Z",
            "id":5,
            "title":"Historic Sites",
            "updated_at":"2017-01-16T02:27:11.703Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/5.json"
            },
            {
            "created_at":"2017-01-16T02:27:21.978Z",
            "id":6,
            "title":"Museums",
            "updated_at":"2017-01-16T02:27:21.978Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/6.json"
            },
            {
            "created_at":"2017-01-16T02:27:32.007Z",
            "id":7,
            "title":"Parks \u0026 Outdoors",
            "updated_at":"2017-01-16T02:27:32.007Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/7.json"
            },
            {
            "created_at":"2017-01-16T02:27:41.078Z",
            "id":8,
            "title":"Restaurants",
            "updated_at":"2017-01-16T02:27:41.078Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/8.json"
            },
            {
            "created_at":"2017-01-16T02:27:47.824Z",
            "id":9,
            "title":"Shopping",
            "updated_at":"2017-01-16T02:27:47.824Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/9.json"
            },
            {
            "created_at":"2017-01-16T02:27:56.581Z",
            "id":10,
            "title":"Theatre",
            "updated_at":"2017-01-16T02:27:56.581Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/10.json"
            }
        ]
        
## Neighborhoods [/filter_neighborhoods]

### List all Neighborhoods [GET]

+ Response 200 (application/json)

        [
            {
            "created_at":"2017-01-16T02:35:44.641Z",
            "id":1,
            "title":"Acre Homes",
            "updated_at":"2017-01-16T02:35:44.641Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/1.json"
            },
            {
            "created_at":"2017-01-16T02:35:53.068Z",
            "id":2,
            "title":"Chinatown",
            "updated_at":"2017-01-16T02:35:53.068Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/2.json"
            },
            {
            "created_at":"2017-01-16T02:36:07.730Z",
            "id":3,
            "title":"Clear Lake / Bay Area",
            "updated_at":"2017-01-16T02:36:07.730Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/3.json"
            },
            {
            "created_at":"2017-01-16T02:36:14.734Z",
            "id":4,
            "title":"Downtown",
            "updated_at":"2017-01-16T02:36:14.734Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/4.json"
            },
            {
            "created_at":"2017-01-16T02:36:24.505Z",
            "id":5,
            "title":"Eado / East End",
            "updated_at":"2017-01-16T02:36:24.505Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/5.json"
            },
            {
            "created_at":"2017-01-16T02:36:33.696Z",
            "id":6,
            "title":"Galleria / Uptown",
            "updated_at":"2017-01-16T02:36:33.696Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/6.json"
            },
            {
            "created_at":"2017-01-16T02:36:41.849Z",
            "id":7,
            "title":"Galveston",
            "updated_at":"2017-01-16T02:36:41.849Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/7.json"
            },
            {
            "created_at":"2017-01-16T02:36:52.169Z",
            "id":8,
            "title":"Greenspoint / Uptown",
            "updated_at":"2017-01-16T02:36:52.169Z",
            "url": "https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/8.json"
            },
            {
            "created_at":"2017-01-16T02:37:00.103Z",
            "id":9,
            "title":"Houston Heights",
            "updated_at":"2017-01-16T02:37:00.103Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/9.json"
            },
            {
            "created_at":"2017-01-16T02:37:07.501Z",
            "id":10,
            "title":"Medical Center",
            "updated_at":"2017-01-16T02:37:07.501Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/10.json"
            },
            {
            "created_at":"2017-01-16T02:37:15.038Z",
            "id":11,
            "title":"Memorial Park",
            "updated_at":"2017-01-16T02:37:15.038Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/11.json"
            },
            {
            "created_at":"2017-01-16T02:37:26.645Z",
            "id":12,
            "title":"Memorial / Energy",
            "updated_at":"2017-01-16T02:37:26.645Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/12.json"
            },
            {
            "created_at":"2017-01-16T02:37:35.065Z",
            "id":13,
            "title":"Midtown",
            "updated_at":"2017-01-16T02:37:35.065Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/13.json"
            },
            {
            "created_at":"2017-01-16T02:37:44.015Z",
            "id":14,
            "title":"Montrose",
            "updated_at":"2017-01-16T02:37:44.015Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/14.json"
            },
            {
            "created_at":"2017-01-16T02:37:53.950Z",
            "id":15,
            "title":"Museum District",
            "updated_at":"2017-01-16T02:37:53.950Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/15.json"
            },
            {
            "created_at":"2017-01-16T02:38:00.830Z",
            "id":16,
            "title":"River Oaks",
            "updated_at":"2017-01-16T02:38:00.830Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/16.json"
            },
            {
            "created_at":"2017-01-16T02:38:11.324Z",
            "id":17,
            "title":"Hobby District",
            "updated_at":"2017-01-16T02:38:11.324Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/17.json"
            },
            {
            "created_at":"2017-01-16T02:38:19.930Z",
            "id":18,
            "title":"Upper Kirby",
            "updated_at":"2017-01-16T02:38:19.930Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/18.json"
            },
            {
            "created_at":"2017-01-16T02:38:29.384Z",
            "id":19,
            "title":"West University",
            "updated_at":"2017-01-16T02:38:29.384Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_neighborhoods/19.json"
            }
        ]

## Things TO DO [/thingstodo]

### List all Things To DO [GET]

  + Response 200 (application/json)

        {
          "attractions" : [
              {
                "name" : "14 Pews",
                "phone" : "(281) 888-9677",
                "address" : "800 Aurora Street | Houston, TX 77009",
                "areaOfTown" : "Houston Heights",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_14-Pews.jpg",
                "website" : "http://14pews.com/pages/home.asp",
                "category" : "Other",
                "description" : "Taking over the space that once housed the Aurora Picture Show, the new 14 Pews microcinema is the brainchild of proprietor Cressandra Thibodeaux who recently returned to Houston from Los Angeles. The small cinema space reopened in August 2010 in the old white wooden church at 800 Aurora and is already garnering praise for its innovative and sometimes provocative programming.\n\nFilms including Crawford: A Documentary, Outrage and For the Bible Tells Me So are showing here and plans are underway to bring more independent films and documentaries to the fledgling organization, as well as community events and small film festivals.\n\n14 Pews aims to pick up the space’s legacy of bringing a convergence of artistic opportunity to the Heights.",
                "ammenities" : [],
                "meeting_facilities" : [{}]
              },
              {
                "name" : "8th Wonder Brewery",
                "phone" : "(713) 229-0868",
                "address" : "2202 Dallas Street | Houston, TX 77003",
                "areaOfTown" : "EaDo/East End",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_8th-wonder-5.jpg",
                "website" : "http://8thwonderbrew.com",
                "category" : "",
                "description" : "The brains behind Houston’s Eatsie Boys food truck and Eatsie Boys Cafe have branched out with another concept, 8th Wonder Brewery.\n\nLocated in EaDo and named after the city’s iconic Astrodome, this brewery produces seasonal selections and limited-edition offerings. The brewery began offering tours in May 2013.\n\nPracticing their craft in a dome-like warehouse on the edge of Downtown and in the shadow of the major sports stadiums, these brewers say they are making Houston's 'craft beer for the home team.' The brews themselves are unique, ranging from the Rocket Fuel (Vietnamese coffee infused Porter) to the MCA Rauch, a classic Bamburg Rauch beer.",
                "ammenities" : [
                  "Outdoor Area",
                  "Self Parking",
                  "Free Wireless",
                  "Live Music",
                  "Pet Friendly",
                  "Accessible via Light Rail",
                  "Wireless",
                  "ADA Accessible"
                ],
                "meeting_facilities": [
                        {
                        "number_of_rooms": 4,
                        "total_squared_feet": 5000,
                        "audio_visual" : "Audio/Visual",
                        "On-Site Catering": true,
                        "Private Room": true
                        }
                    ]
                },
                {
                  "name" : "The 1940 Air Terminal Museum",
                  "phone" : "(713) 454-1940",
                  "address" : "8325 Travelair Street | Houston, TX 77061",
                  "areaOfTown" : "Hobby Airport/Third Ward",
                  "detailImageURL" : "https://res-1.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_1940-air-terminal-2.jpg",
                  "website" : "http://www.1940airterminal.org",
                  "category" : "Airport",
                  "description" : "The 1940 Air Terminal Museum is the only educational institution in Houston dedicated to promoting the city's significant civil aviation history.\n\nThe Houston Municipal Airport Terminal is a beautiful and rare example of classic art deco airport architecture from the golden age of flight. The Terminal served Houston during the years when air travelers dressed in their finest and embarked for exotic destinations aboard roaring propliners like the Douglas DC-3 and the Lockheed Constellation.\n\nDesigned by noted architect Joseph Finger (who also designed Houston's City Hall), the Terminal was built to meet Houston's growing role as a major center for air commerce in the 1930s. The Terminal was completed in 1940 and served as the primary commercial air terminal for Houston until 1954.\n\nWhile most major cities have razed the beautiful art deco airport terminals of the 1930s and 1940s to make way for modern buildings, jet traffic or the closing of airports, the Houston Municipal Airport Terminal stands on William P. Hobby Airport as a quiet monument to the rich and varied history of aviation in the region.\n\nThe Aviation Heritage Gallery features exhibits on the Douglas DC-3, including original oil paintings by Jonathan Frank.\n\nThe Airline Galleries, Hall of Flight, and Starliner Theater feature original aviation art, stunning period photographs, outstanding scale aircraft models, artifacts, uniforms, memorabilia and documents of various airlines, Howard Hughes and Houston Cessna dealer King Cruse.\n\nThe Aviation Meteorology and Air Traffic Control Galleries feature vintage weather and ATC equipment such as teletypes, radios, and light guns as well as weather charts and navigational maps. The galleries also feature Houston's aviation history and the history of learning to fly.\n\nThe Children's Dream of Flight Gallery features vintage aviation toys, games, and books as well as an aviation play table and reading library to inspire young visitors to dream of flight.",
                  "ammenities" : [
                    "Child Rates",
                    "Private Room for Special Events",
                    "ADA Accessible",
                    "Motorcoach Parking",
                    "Gift Shop",
                    "Wireless",
                    "Advance Notice Required for Groups"
                  ],
                  "meeting_facilities": [
                    {
                      "number_of_rooms" : 3,
                      "banquet_capacity" : 200,
                      "reception_capacity" : 500,
                      "audio_visual" : "Audio/Visual"
                    }
                  ]
                  }
            ]
        }
        
## Featured Events [/featured_events] 

### List all Featured Events [GET]

+ Response 200 (application/json)

        [
            {
                "created_at":"2017-01-17T04:03:40.099Z",
                "event_address":"1300 HOLMAN STREET | HOUSTON, TX 77004",
                "event_category":"FEATURED",
                "event_date":"January 16, 2017",
                "event_description":"The MLK Grande Parade Is One Of the Largest Single Day Multicultural Events In The U.S. That Commemorate The MLK National Holiday Observance. The Parade Will Be Held On January 16, 2017 In Houston's Midtown Originating On San Jacinto Street 7 Elgin Street Beginning @ 10A (CST).",
                "event_image_url":"https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/ec561f75-cd8a-459f-abc7-6d3b44a0f06c.jpg",
                "event_phone":"(713) 953-1633",
                "event_website":"http://www.mlkgrandeparade.org/",
                "id":1,
                "ticket_purchase_url":"",
                "tickets_available":false,
                "video_available":false,
                "video_url": "",
                "title":"23RD ANNUAL MLK GRANDE PARADE MIDTOWN HOUSTON",
                "updated_at":"2017-01-17T04:03:40.099Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/1.json"
            },
            {
                "created_at":"2017-01-17T04:04:28.528Z",
                "event_address":"1515 HERMANN DRIVE | HOUSTON, TX 77004",
                "event_category":"FEATURED",
                "event_date":"January 14, 2017 - April 23, 2017",
                "event_description":"Body Worlds RX at The Health Museum is a prescription for healthy living. Take one large dose of enlightenment during the Houston debut of Body Worlds RX. Real human bodies show you details of today's common diseases and the inner workings of your anatomy. Be inspired and empowered to take steps toward a healthier life.\\n\\nFrom organs to muscles to the nervous system and to skeletal structures, Body Worlds RX gives an unprecedented look inside the most sophisticated mechanism in the world, the human body.",
                "event_image_url":"https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/5e11133d-698d-4ac9-b34c-b032ce7e9349.jpg",
                "event_phone":"",
                "event_website":"http://www.mhms.org/ManageDetail/Detail_Default.aspx?contentid=1949\u0026categoryid=420",
                "id":2,
                "ticket_purchase_url":"",
                "tickets_available":false,
                "video_available":false,
                "video_url": "",
                "title":"BODY WORLDS RX",
                "updated_at":"2017-01-17T04:04:28.528Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/2.json"
            },
            {
                "created_at":"2017-01-17T04:05:10.501Z",
                "event_address":"1001 AVENIDA DE LAS AMERICAS | HOUSTON, TX 77010",
                "event_category":"FEATURED",
                "event_date":"January 15, 2017",
                "event_description":"This annual 26.2, 13.1 and 3.1 mile run, which begins and ends at downtown's George R. Brown Convention Center, has steadily grown to attract more than 20,000 entrants from around the world and 200,000 spectators. ",
                "event_image_url":"https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/6f3a39e5-9732-cb42-dc13ebfdefcfa11a.jpg",
                "event_phone":"713-957-3453",
                "event_website":"http://www.chevronhoustonmarathon.com/",
                "id":3,
                "ticket_purchase_url":"https://www.visithoustontexas.com/listings/george-r-brown-convention-center/22562/",
                "tickets_available":true,
                "video_available":false,
                "video_url": "",
                "title":"CHEVRON HOUSTON MARATHON",
                "updated_at":"2017-01-17T04:05:10.501Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/3.json"
            },
            {
                "created_at":"2017-01-17T04:05:51.459Z",
                "event_address":"615 LOUISIANA ST. | HOUSTON, TX 77002",
                "event_category":"FEATURED",
                "event_date":"January 17, 2017 8:00PM",
                "event_description":"Exploding on to the scene in 2014 with his FOX series “Cosmos,” Dr. Neil deGrasse Tyson brought astrophysics and the science of the world around us into the living rooms of homes across America. He is also a celebrated author, expert, and professor, sought out for his knowledge by organizations and companies across the globe. In 2006, Dr. Tyson was appointed to NASA’s prestigious Advisory Council, where he helps guide NASA in its ambitious visions of exploring space. His live stage show will return to Houston, with an evening full of engaging conversation on science and exploration, witty observations on the world around us, and much more.",
                "event_image_url":"https://res-4.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/9eac8aa3-6a4d-4dda-9ee2-d91166bc3eab.jpg",
                "event_phone":"(713) 227-4772",
                "event_website":"http://www.spahouston.org/show?ShowId=167",
                "id":4,
                "ticket_purchase_url":"http://www.spahouston.org/show?ShowId=167",
                "tickets_available":true,
                "video_available":false,
                "video_url": "",
                "title":"DR. NEIL DEGRASSE TYSON",
                "updated_at":"2017-01-17T04:05:51.459Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/4.json"
            },
            {
                "created_at":"2017-01-17T04:06:27.385Z",
                "event_address":"ALL OVER HOUSTON - SEE LOCATIONS IN DESCRIPTION",
                "event_category":"FEATURED",
                "event_date":"October 8, 2016 - January 14, 2017",
                "event_description":"A one-of-a-kind Super Bowl fan experience is coming to Texas, and the Houston Super Bowl Host Committee is inviting everyone to celebrate the start of football season and the beginning of the road to Super Bowl LI by visiting its Touchdown Tour, the first of its football-themed events this fall.  The Touchdown Tour will feature interactive games, a Houston Texans mobile locker room, giveaways, music and more. A beer garden and food will be available for purchase.  Oct. 8: Mason Park, 75th and Tipps.  Oct. 15: Sylvester Turner Par, 2800 W. Little York.  Oct. 22: MacGregor Park, 5225 Calhoun.  Oct. 29: Sunnyside Park, 3502 Belfort.  Nov. 5: Agnes Moffitt Park,10645 Hammerly.  Nov. 12: Finnegan Park  4900 Providence.  Nov. 19: Kingwood High, 2701 Kingwood Drive, Kingwood.  Dec. 3: Moody Park, 3725 Fulton.  Dec. 10: Blueridge Park, 5600 Court Road.  Jan. 7: Burnett Bayland Park, 6000 Chimney Rock.  Jan. 14: Alief Community Park, 11903 Bellaire Blvd.",
                "event_image_url":"https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/069bc7d8-9a0e-406c-a0fb-60168c5d0704.jpg",
                "event_phone":"",
                "event_website":"http://www.housuperbowl.com/touchdown-tour",
                "id":5,
                "ticket_purchase_url":"",
                "tickets_available":false,
                "video_available":true,
                "video_url": "http://img.tapit.com.s3.amazonaws.com/videos/121235/598859/originals/320_480.mp4",
                "title":"HOUSTON SUPER BOWL TOUCHDOWN TOUR",
                "updated_at":"2017-01-17T04:06:27.385Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/featured_events/5.json"
            }
        ]
        
## Latest Events [/latest_events] 

### List all Latest Events [GET]

+ Response 200 (application/json)

        [
            {
            "created_at":"2017-01-17T23:30:50.092Z",
            "event_address":"925 CRAWFORD STREET | HOUSTON, TX 77002",
            "event_category":"COMMUNITY",
            "event_date":"January 23, 2017",
            "event_description":"Houston Bike Share, along with City of Houston's Mayor Sylvester Turner, BBVA Compass, the Houston Downtown Management District and Visit Houston, will celebrate the opening of a new Bcycle station and the launch of a unique program funded by BBVA Compass with a ribbon-cutting ceremony. The ceremony will take place at the new “Crawford Island” Bcycle station located at 925 Crawford St. (between Discovery Green and Marriott Marquis). Houston Bike Share and BBVA Compass will introduce the “BBVA Compass Free Rides” program, designed to help alleviate increased traffic congestion and support Bcycle's role as an official transportation partner for Super Bowl LI.The Crawford Island station will offer easy access to Super Bowl Live events and the NFL Experience at George R. Brown Convention Center. Through the “BBVA Compass Free Rides” program, individuals can receive free Houston Bcycle rides for the 10 days leading up to the Super Bowl, January 27-February 5, at all Bcycle stations around Houston. After the Super Bowl, Bcycle will continue to promote healthy living with “Bike Share Free Fridays” from February 10-March 31, 2017.",
            "event_image_url":"https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/aff6eb2f-6c98-41c7-a720-0683c8d6ed34.jpg",
            "event_phone":"",
            "event_website":"https://houston.bcycle.com/",
            "video_available":false,
            "id":1,
            "ticket_purchase_url":"",
            "tickets_available":false,
            "title":"\"BBVA COMPASS FREE RIDES” BCYCLE RIBBON CUTTING CEREMONY",
            "updated_at":"2017-01-17T23:30:50.092Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/1.json",
            "video_url":""
            },
            {
            "created_at":"2017-01-17T23:46:29.260Z",
            "event_address":"18201-B EGRET BAY BLVD. | HOUSTON, TX 77058",
            "event_category":"COMMUNITY",
            "event_date":"Recurring weekly on Friday",
            "event_description":"A Hilarious Guest Interactive Mystery Theater where a Crime takes place and then YOU have a choice...-Sit back relax and try to solve a mystery... OR-Take on a starring rolePerhaps be the murderer or be murdered!     1 hour mystery event. No food or drink included. Great For all ages! Every Friday From 7-8pm",
            "event_image_url":"https://res-2.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/3ac727e5-10cf-44d7-bffe-b421f7f7daaf.jpg",
            "event_phone":"281-992-1888",
            "event_website":"http://www.murderbychocolate.com/mini-mystery",
            "video_available":false,
            "id":2,
            "ticket_purchase_url":"http://www.murderbychocolate.com/mini-mystery",
            "tickets_available":true,
            "title":"1 HOUR MINI-MYSTERY",
            "updated_at":"2017-01-17T23:46:29.260Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/2.json",
            "video_url":""
            },
            {
            "created_at":"2017-01-17T23:50:18.323Z",
            "event_address":"1370 SOUTHMORE BOULEVARD | HOUSTON, TX 77004",
            "event_category":"ARTS & CULTURE",
            "event_date":"September 3, 2016 - February 26, 2017",
            "event_description":"The Democratic People’s Republic of Korea (commonly referred to as North Korea) is an area of Asia that is unfamiliar to many. Matjaž Tančič’s (b.1982, Slovenia) portraits are taken using a 3D stereoscopic technique, requiring each subject to stand motionless for minutes while multiple photographs capture the requisite perspectives. His landmark 3DPRK series offers a unique glimpse of the citizens of Pyongyang — North Korea’s capital — as well as workers, farmers, educators, athletes, and entertainers from across North Korea.",
            "event_image_url":"https://res-2.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/b2d737bb-018f-4d27-bac5-8849c0be3e5c.jpg",
            "event_phone":"713-496-9901",
            "event_website":"http://asiasociety.org/texas/exhibitions/3DPRK",
            "video_available":false,
            "id":3,
            "ticket_purchase_url":"",
            "tickets_available":false,
            "title":"3DPRK: NORTH KOREAN PORTRAITS BY MATJAŽ TANČIČ",
            "updated_at":"2017-01-17T23:50:18.323Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/3.json",
            "video_url":""
            },
            {
            "created_at":"2017-01-17T23:53:58.650Z",
            "event_address":"5401 CAROLINE STREET | HOUSTON, TX 77004",
            "event_category":"ARTS & CULTURE",
            "event_date":"January 20, 2017 - May 30, 2017",
            "event_description":"An immersive exhibition designed to honor the heroes, victims, and survivors of the Holocaust, “A Celebration of Survival,” by Barbara Hines, masterfully addresses the Holocaust framed in a message of redemption and forgiveness. On view at Holocaust Museum Houston’s Mincberg Gallery January 20 through May 30, 2017, “A Celebration of Survival” inspires visitors to focus on what “could be” rather than the horrors of the past.Upon entering, visitors will pass through “Veils of Remembrance,” diaphanous silk veils featuring life size portraits of children of the Holocaust, creating the effect of walking among them. “Portrait Walls” throughout will don 16 righteous non-Jews of the 26,000 “Righteous Among the Nations” who saved Jewish lives during the Holocaust, while “Quotations” will project prolific words by local survivors and other prominent Jewish thinkers. Deeper into the exhibition, an audio-visual installation featuring New Dimensions in Testimony, created by USC Shoah Foundation – The Institute for Visual History and Education, will invite students and adults to hold a “virtual conversation” by “talking” with a Holocaust survivor. This pioneering project integrates advanced filming techniques, specialized display technologies, and next-generation natural language processing to provide an intimate experience with Holocaust survivor Pinchas Gutter, an eyewitness to history who can answer direct questions while sitting in front of you in a three dimensional, face-to-face interaction. Through the artistry of Barbara Hines and “A Celebration of Survival,” Holocaust Museum Houston is one of only five locations in North America to ever host this extraordinary learning technology. Barbara Hines is an international artist based in Texas with studios in Houston and Aspen, Colorado. Holocaust Museum Houston presents her first solo multimedia exhibition. Hines is represented by the Meredith Long Gallery in Houston and Gallery 1949 in Aspen, Colorado.",
            "event_image_url":"https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/fef7b4e4-9a70-4f71-a67d-a4e72a11768f.jpg",
            "event_phone":"(713) 942-8000",
            "event_website":"http://hmh.org/ViewExhibits.aspx?ID=121&ExhibitType=UpcomingOngoing",
            "video_available":true,
            "id":5,
            "ticket_purchase_url":"",
            "tickets_available":false,
            "title":"A CELEBRATION OF SURVIVAL BY BARBARA HINES",
            "updated_at":"2017-01-17T23:53:58.650Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/5.json",
            "video_url":"http://img.tapit.com.s3.amazonaws.com/videos/121235/598859/originals/320_480.mp4"
            },
            {
            "created_at":"2017-01-17T23:52:11.102Z",
            "event_address":"5401 CAROLINE STREET | HOUSTON, TX 77004",
            "event_category":"ARTS & CULTURE",
            "event_date":"January 20, 2017 - May 30, 2017",
            "event_description":"An immersive exhibition designed to honor the heroes, victims, and survivors of the Holocaust, “A Celebration of Survival,” by Barbara Hines, masterfully addresses the Holocaust framed in a message of redemption and forgiveness.  On view at Holocaust Museum Houston’s Mincberg Gallery January 20 through May 30, 2017, “A Celebration of Survival” inspires visitors to focus on what “could be” rather than the horrors of the past.  Upon entering “A Celebration of Survival,” visitors will pass through “Veils of Remembrance,” diaphanous silk veils featuring life size portraits of children of the Holocaust, creating the effect of walking among them. “Portrait Walls” throughout will don 16 righteous non-Jews of the 26,000 “Righteous Among the Nations” who saved Jewish lives during the Holocaust, while “Quotations” will project prolific words by local survivors and other prominent Jewish thinkers.  Deeper into the exhibition, an audio-visual installation featuring New Dimensions in Testimony (NDT), created by USC Shoah Foundation – The Institute for Visual History and Education, will invite students and adults to hold a “virtual conversation” by “talking” with a Holocaust survivor.   This pioneering project integrates advanced filming techniques, specialized display technologies, and next-generation natural language processing to provide an intimate experience with Holocaust survivor Pinchas Gutter, an eyewitness to history who can answer direct questions while sitting in front of you in a three dimensional, face-to-face interaction.   The multimedia exhibition is further enhanced with voice recordings and images of prominent Jewish musicians, composers, writers, scientists, and artists from pre WWII to present day, while a two-dimensional “Tree of Life” constructed of olive-colored, powder-coated aluminum allows museum visitors to hang a metallic star bearing their personal affirmations and signatures.  Additional features include a world map of the Jewish population pre and post WWII, and the projected population for the future using gold, pulsating lights; and a wall projection of the Yad Vashem searchable database featuring 26,000 names of “Righteous Among the Nations,” recognizing non-Jews who risked their lives to save Jews during the Holocaust.  Barbara Hines is an international artist based in Texas with studios in Houston and Aspen, Colorado. Born in Germany, Hines immigrated as a young child with her family to Australia. Upon graduation from the University of Sydney, she returned to Germany as a foreign language teacher. Hines later moved to New York City where she studied design and art at The New York School of Interior Design and Pratt Institute in Brooklyn. While raising a family between Houston, Colorado and London, Hines painted and exhibited landscape, figure and still life paintings in oil on canvas. She currently is focused on her large, biblically inspired abstracts and Jerusalem landscapes in mixed media. Holocaust Museum Houston presents her first solo multimedia exhibition. Hines is represented by the Meredith Long Gallery in Houston and Gallery 1949 in Aspen, Colorado.",
            "event_image_url":"https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/8b70aec1-cca3-45bd-9826-6bdd9bb56659.jpg",
            "event_phone":"(713) 942-8000",
            "event_website":"http://www.hmh.org/",
            "video_available":false,
            "id":4,
            "ticket_purchase_url":"",
            "tickets_available":false,
            "title":"A CELEBRATION OF SURVIVAL",
            "updated_at":"2017-01-17T23:54:14.582Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/4.json",
            "video_url":""
            },
            {
            "created_at":"2017-01-17T23:56:44.309Z",
            "event_address":"ONE MONUMENT CIRCLE | LA PORTE, TX 77571",
            "event_category":"ARTS & CULTURE",
            "event_date":"Recurring daily",
            "event_description":"The new special exhibit of the San Jacinto Museum of History, \"A Destined Conflict: The U.S. - Mexican War,\" opened on July 4, 2015 with prints, political cartoons, photographs, art, artifacts and newspapers relating to that decisive war which occurred from 1846 to 1848, from the first engagement in Palo Alto, Texas to the Halls of Montezuma in Mexico City.  The first armed conflict involving the United States that was chiefly fought on foreign soil, the official cause of the war was both the American annexation of the Republic of Texas and the border dispute whether the national border was Texas' claim of the Rio Grande or Mexico's claim of Nueces River. By the war's end, Mexico lost nearly half of its territory and the United States became a continental power.   In \"A Destined Conflict: The U.S. - Mexican War,\" a wide array of contemporary artifacts-from newspapers and prints, to documents and artifacts written and owned by many key players in the conflict-grant insights into how the officers, the soldiers in the field, and the media back home viewed this conflict that saw many more soldiers dying from disease than battle.  \"This war pitted a politically divided and militarily unprepared Mexico against the expansionist-minded administration of U.S. President James K. Polk, who believed the United States had a manifest destiny to spread across the continent to the Pacific Ocean,\" says Larry Spasic, President, San Jacinto Museum of History Association. \"War costs exceeded $100 million and more than 13,000 combatants lost their lives, making it, as a percentage of those who served, second only to the Civil War as the bloodiest conflict in American history.\" When the war ended, Mexico had lost a significant portion of its territory, including nearly all of present-day California, Utah, Nevada, Arizona and New Mexico. The Treaty of Guadalupe Hidalgo marked the end of that war and the beginning of a lengthy U.S. political debate over slavery in the acquired territories, as well as continued conflict with Mexico over boundaries.   Tickets: Admission to the special exhibit-scheduled to be up for at least a year-is $5 for adults and $3 for children under 11. Combo tickets for this new special exhibit, Texas Forever!! The Battle of San Jacinto multimedia presentation, and the elevator ride to the Observation Level are available. Seniors, children and groups of 10 or more enjoy a discounted rate year-round; members of the Museum Association and the Military receive free admission to all attractions within the Monument. The Museum, exhibit and battleground are open from 9AM-6PM; the observation floor is open from 9AM-5:45PM.",
            "event_image_url":"https://res-3.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/18ad4a89-c8c7-4e2a-8cd0-11e42f891d57.jpg",
            "event_phone":"",
            "event_website":"http://www.sanjacinto-museum.org/",
            "video_available":false,
            "id":6,
            "ticket_purchase_url":"",
            "tickets_available":false,
            "title":"A DESTINED CONFLICT: THE U.S.–MEXICAN WAR",
            "updated_at":"2017-01-17T23:56:44.309Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/6.json",
            "video_url":""
            },
            {
            "created_at":"2017-01-17T23:58:38.740Z",
            "event_address":"2010 WAUGH | HOUSTON, TX 77006",
            "event_category":"COMMUNITY",
            "event_date":"January 19, 2017",
            "event_description":"So here's how the prepping worked. Three local photographers snapped pictures of actors. Then three playwrights wrote plays inspired by the photos. So if a picture is worth a thousand words...The night will also feature live singing by Katy Burns and Ellen Dyer, a dance performance by Cindy Lou Parker and improv from Magical Lying Hour and Ophelia's Rope. All this adds up to one big night of performances featuring Houston MC, Amy Pope.",
            "event_image_url":"https://res-3.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/966e7f0d-cd90-4509-8110-21522782a756.jpg",
            "event_phone":"(832) 303-1578",
            "event_website":"http://boilingpointplayers.com/2016-ANewDay.asp",
            "video_available":false,
            "id":7,
            "ticket_purchase_url":"http://boilingpointplayers.com/tickets.asp",
            "tickets_available":true,
            "title":"A NEW DAY CABARET",
            "updated_at":"2017-01-17T23:58:38.740Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/7.json",
            "video_url":""
            },
            {
            "created_at":"2017-01-18T00:00:10.646Z",
            "event_address":"4411 MONTROSE BLVD. | HOUSTON, TX 77006",
            "event_category":"ARTS & CULTURE",
            "event_date":"January 6, 2017 - February 4, 2017",
            "event_description":"Anya Tish Gallery is pleased to present Glacial Parallax, an exhibition featuring new work by Romania-born, Houston-based artist Adela Andea. Internationally recognized for her mesmerizingly luminous sculptures and installations, Andea animates industrial lights, motors, and plastics into biomorphic structures that more closely resemble organic material, from nebulas to glaciers to sea anemones, and erects engulfing environments that descend from the ceiling and climb walls like ivy.  Glacial Parallax will be Andea’s fourth solo exhibition with Anya Tish Gallery.The interaction between humans and technological advancement, the issues raised through the dynamic and swift spread of industrialization, and the responsibility for research that ensures both technological progress and ecological balance are the catalysts of Andea’s work. The concept for her newest series¬–in which she hand cuts, files, and sews together colored shards of reflective Plexiglas–emerged during a trip to Alaska where she witnessed the effects of the rapid melting of glaciers.  While the exhibition’s title, Glacial Parallax, refers to the phenomenon where an object appears to change position when viewed from different angles, it also serves as a metaphor for the vastly different points of view on environmental issues.Adela Andea received her Masters of Fine Art in 2012 from the University of North Texas in Denton, Texas, becoming the inaugural graduate of the school’s New Media program.  Since then, her sculptures and installations have been widely exhibited in such museums and institutions as The Museum of Arts and Design, New York City, NY; Blue Star Contemporary Art Museum, San Antonio, TX; Crystal Palace, Bordeaux, France; The Museum of Geometric and MADI Art, Dallas, TX; Galveston Arts Center, Galveston, TX; and The Grace Museum, Abilene, TX. Her visionary installations have awarded her invitations to many art fairs, as well as to the Zebra3 Artist Residency in Bordeaux, France, the 2013 Texas Biennial, the 2015 International Kinetic Exhibition and Symposium in Boynton Beach, Florida, and the 18th Annual Texas Sculpture Symposium, held at Texas Tech University in 2015.  Her work has been featured on PBS, MoMA Talks, in the Houston Chronicle, art ltd. magazine, and ModernDallas, and can be found in several national and international private and corporate collections. Most recently, Primordial Garden, her monumental 15,5003-feet installation, was acquired by Texas Tech University for their permanent collection.",
            "event_image_url":"https://res-3.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/c41434d2-ff1f-4994-819d-37c61eb8d676.jpg",
            "event_phone":"(713) 524-2299",
            "event_website":"http://www.anyatishgallery.com/",
            "video_available":false,
            "id":8,
            "ticket_purchase_url":"",
            "tickets_available":false,
            "title":"ADELA ANDEA - GLACIAL PARALLAX",
            "updated_at":"2017-01-18T00:00:10.646Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/latest_events/8.json",
            "video_url":""
            }
        ]
        
        
## Attractions [/attractions]
### List all latest Attractions [GET]

+ Response 200 (application/json)

        [
            {
            "attractionID":null,
            "created_at":"2017-01-20T20:57:12.487Z",
            "event_address":"800 AURORA STREET | HOUSTON, TX 77009",
            "event_category":
            "ARTS & CULTURE",
            "event_description":"Taking over the space that once housed the Aurora Picture Show, the new 14 Pews microcinema is the brainchild of proprietor Cressandra Thibodeaux who recently returned to Houston from Los Angeles. The small cinema space reopened in August 2010 in the old white wooden church at 800 Aurora and is already garnering praise for its innovative and sometimes provocative programming.  Films including Crawford: A Documentary, Outrage and For the Bible Tells Me So are showing here and plans are underway to bring more independent films and documentaries to the fledgling organization, as well as community events and small film festivals.   14 Pews aims to pick up the space’s legacy of bringing a convergence of artistic opportunity to the Heights.",
            "event_image_url":
            "https://res-2.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/listings/original_14-Pews.jpg",
            "event_phone":
            "(281) 888-9677",
            "event_website":
            "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_20889&val=5e48a1701650c96b7ad494b0f3609c52ee631bb76b47365ea4d29cfaef896d8bf08e96805c37bbd7cde6fcbd3f8dd49c",
            "id":
            1,
            "title":
            "14 Pews",
            "ticket_purchase_url":"",
            "tickets_available":false,
            "video_url":"",
            "video_available":false,
            "event_date":"",
            "updated_at":
            "2017-01-20T21:47:47.621Z",
            "url":
            "https://hidden-wildwood-14228.herokuapp.com/attractions/1.json"
            },
            {
            "attractionID":
            null,
            "created_at":
            "2017-01-20T21:50:41.561Z",
            "event_address":
            "2710 W. ALABAMA | HOUSTON, TX 77098",
            "event_category":
            "ARTS & CULTURE",
            "event_description":
            "The A. D. Players, founded in 1967 by Jeannette Clift George, pioneered a unique style of theater committed to producing plays and programs that uphold human value, offer creativity and promote literacy and education. From a small group of part-time actors, the company has increased in size to one of Houston's largest resident theaters, impacting more than nine million people.   Annually serving more than 40,000, the A. D. Players offer five professional mainstage productions per season. From critically acclaimed classics to Jeannette Clift George originals, audiences are entertained, inspired and enlightened.   Houston's first year-round children's theater offers audiences of all ages the excitement of live theater. Yearly, more than 25,000 children and families are stimulated by shows that enhance the imagination, promote self-esteem, and teach valuable life lessons.",
            "event_image_url":
            "https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/listings/original_AD-Players-Resized.jpg",
            "event_phone":
            "(713) 526-2721",
            "event_website":
            "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_19461&val=5e48a1701650c96b7ad497b9ff6e9452ee631bb76b47365ea4d29cfaef896d8bf08e96801a74bc9cdbf1a2b231999393e9da407027ac0e",
            "id":
            2,
            "title":
            "A.D. Players Theater",
            "ticket_purchase_url":"",
            "tickets_available":false,
            "video_url":"",
            "video_available":false,
            "event_date":"",
            "updated_at":
            "2017-01-20T21:50:41.561Z",
            "url":
            "https://hidden-wildwood-14228.herokuapp.com/attractions/2.json"
            },
            {
            "attractionID":
            null,
            "created_at":
            "2017-01-20T21:52:17.472Z",
            "event_address":
            "1401 BINZ ST, SUITE 250 | HOUSTON, TX 77004",
            "event_category":
            "NEWS",
            "event_description":
            "Adara Medical Spa is a state-of-the-art facility offering a wide range of treatments. With certified dermatologists on hand and highly trained estheticians, guests can sit back and enjoy an array of spa services.  Choose from a variety of offerings including chemical peels, facials, microdermabrasion, massages and more. In addition to spa services, Adara Medical spa offers more intensive services like body contouring, laser treatments and injectables.  Treatments are performed in a relaxing, sleek environment. The contemporary 1,850 square foot facility is housed near the Museum District on the second floor of the modern Museum Point Professional Building. Appointments can be made online or by phone.",
            "event_image_url":
            "https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/listings/original_ADARA0.jpg",
            "event_phone":
            "(713) 766-3638",
            "event_website":
            "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_27641&val=5e48a1701650c96b7ad494b7fd6c9452ee631bb76b47365ea4d29cfaef896d8bf08e96801a74bc9cfbf1b3ac31889994e980406c6eed1cbc08ed",
            "id":
            3,
            "title":
            "Adara Medical Spa",
            "ticket_purchase_url":"",
            "tickets_available":false,
            "video_url":"",
            "video_available":false,
            "event_date":"",
            "updated_at":
            "2017-01-20T21:52:17.472Z",
            "url":
            "https://hidden-wildwood-14228.herokuapp.com/attractions/3.json"
            },
            {
            "attractionID":
            null,
            "created_at":
            "2017-01-20T21:54:07.900Z",
            "event_address":
            "12303 SONNIER STREET | HOUSTON, TX 77044",
            "event_category":
            "COMMUNITY",
            "event_description":
            "Alexander Deussen (1882-1959), a petroleum geologist, donated a 309-acre site on Lake Houston to Harris County in 1956. The site was converted into a public park and named the Alexander Deussen Park.  The highlight of the park is a herd of buffalo, giving visitors the opportunity to view these large and beautiful creatures in a natural setting. There is no charge to use the boat ramps at Alexander Deussen Park, and fishing is permitted from piers.  The 2.5-mile jogging trail has an asphalt surface with exercise equipment along the trail.  There are 3 multi-purpose fields located in this park. These fields can be used for baseball/softball, football and/or soccer. The fields can be reserved, however reservations are not required. Lighting is not available.  Reservations of 150 people or more is required for the use of the Open Air Pavilion. Kitchen facilities, lights, and electrical outlets are available. Wood and charcoal barbeque grilling is also available. Seating capacity for the Open Air Pavilion is 400. Volleyball poles are available for use. Nets and balls not provided. There are 230 cement picnic tables available, in which some are handicap accessible.  New play structures with shade canopies were installed in 2011.",
            "event_image_url":
            "https://www.visithoustontexas.com/includes/public/assets/images/default.png",
            "event_phone":
            "713.440.1587",
            "event_website":
            "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_20062&val=5e48a1701650c96b7ad494b0fb6e9752ee631bb76b47365ea4d29cfaef896d8bf08e96801a74bc9cd2f6a2ef7e8e9395b5a44e702bfd5c9046f5264ddf81b6e95e4286c08d57323e9b39c344c6a0",
            "id":
            4,
            "title":
            "Alexander Deussen Park",
            "ticket_purchase_url":"",
            "tickets_available":false,
            "video_url":"",
            "video_available":false,
            "event_date":"",
            "updated_at":
            "2017-01-20T21:54:07.900Z",
            "url":
            "https://hidden-wildwood-14228.herokuapp.com/attractions/4.json"
            },
            {
            "attractionID":
            null,
            "created_at":
            "2017-01-20T21:55:38.721Z",
            "event_address":
            "1001 COMMERCE STREET | HOUSTON, TX 77002",
            "event_category":
            "COMMUNITY",
            "event_description":
            "Often described as “Houston’s heart” and Houston's “Plymouth Rock,” Allen’s Landing is an area that truly defines Houston. It was here in 1836 that August C. and John K. Allen stepped ashore and claimed Houston as their own. The confluence of Buffalo and White Oak bayous also became Houston’s first port and a thriving commercial hub.  After years of deterioration and numerous planning efforts, Allen’s Landing is undergoing major revitalization and rejuvenation. Already completed is a concrete paved wharf designed to replicate the original port, a promenade, terrace overlooking the bayou, trail/walkway, entry plaza at intersection of Commerce and Main, terraced grass lawn, and text-based Public Artwork.  Improvements are being made west and east of the existing park, including the downtown streetscape enhancement project, which will feature pedestrian connections from Commerce Street to the bayou. Four major entryways will also include stairs, ramps, landscaping, signage, and public art.  Amenities: * Benches * Trash Receptacles * Drinking Fountain * Bike Rack * Decorative Lighting",
            "event_image_url":
            "https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/listings/original_AllensLanding0.jpg",
            "event_phone":
            "713-752-0314",
            "event_website":
            "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_20507&val=5e48a1701650c96b7ad494b0fe689252ee631bb76b47365ea4d29cfaef896d8bf08e96801a74bc9cd8e0b4b8318c9983fb8d40776ee101b605e03f5eda96fdf36e4a9f9183",
            "id":
            5,
            "title":
            "Allen's Landing",
            "ticket_purchase_url":"",
            "tickets_available":false,
            "video_url":"",
            "video_available":false,
            "event_date":"",
            "updated_at":
            "2017-01-20T21:55:38.721Z",
            "url":
            "https://hidden-wildwood-14228.herokuapp.com/attractions/5.json"
            },
            {
            "attractionID":
            null,
            "created_at":
            "2017-01-20T21:58:14.904Z",
            "event_address":
            "315 CAPITOL ST. | SUITE 120 | HOUSTON, TX 77002",
            "event_category":
            "ARTS & CULTURE",
            "event_description":
            "Architecture Center Houston (ArCH) is the home of the Houston Chapter of the American Institute of Architects and the Architecture Center Houston Foundation. ArCH also leads weekend walking and bike tours of some of Houston's most interesting neigbhorhoods.   The 5,000-square-foot space includes a gallery for rotating architecture-related exhibits. Past exhibitions have included Ready Set Go!Houston Stage Designers, Endangered Modern: The Real Story and Houston's 50 Favorite Buildings. The center is open Monday through Thursday from 9 a.m. to 5 p.m. and Fridays 9 a.m. to 3 p.m.   ArCH's goal is to promote awareness, understanding, and appreciation of the ways in which architecture and urban design influence and enhance the quality of life in Houston.",
            "event_image_url":
            "https://res-3.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/listings/original_1917412_177105647765_684673_n0.jpg",
            "event_phone":
            "(713) 520-0155",
            "event_website":
            "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_28269&val=5e48a1701650c96b7ad494b8f96e9c52ee631bb76b47365ea4d29cfaef896d8bf08e96801a74bcd3d3f4bab12593828ef4da407027a116a942f93c45c58cbcf5690990d5931021",
            "id":
            6,
            "title":
            "Architecture Center Houston Tours",
            "ticket_purchase_url":"",
            "tickets_available":false,
            "video_url":"",
            "video_available":false,
            "event_date":"",
            "updated_at":
            "2017-01-20T21:58:14.904Z",
            "url":
            "https://hidden-wildwood-14228.herokuapp.com/attractions/6.json"
            }
        ]