FORMAT: 1A
HOST: https://private-478a2-livehouston.apiary-mock.com

# LiveHouston API

The LiveHouston API drives the LiveHouston Mobile Apps (iOS and Android)

## Events [/events]

### List all Events [GET]

<!--+ Request-->

  <!--+ Headers-->

  <!--          Authorization: Bearer: SDFSDFSDFSDFSDFSDFIIIII-->

  ### Updated Response to match website

  + Response 200 (application/json)

        {
            "featured" : [
                {
                    "eventTitle" : "7TH ANNUAL WAVE HOLIDAY LIGHTS TOURS",
                    "date" : "December 13, 2016 - December 22, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "1160 W. 26TH STREET | HOUSTON, TX 77008",
                    "eventTimes" : "6:30 PM to 9:30 PM",
                    "eventAdmission" : "$35",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.eventbrite.com/e/7th-annual-wave-holiday-lights-tours-tickets-29053805715",
                    "event_image_url" : "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F25752908%2F18565618941%2F1%2Foriginal.jpg?w=800&rect=0%2C0%2C650%2C325&s=039a59c7642a7c5e331a4330902e3a6c",
                    "category" : "Holiday Lights",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "A CHRISTMAS CAROL-A GHOST STORY OF CHRISTMAS",
                    "date" : "November 19, 2016 - December 29, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "615 TEXAS AVENUE | HOUSTON, TX 77002",
                    "eventTimes" : "Varies",
                    "eventAdmission" : "$35-$70",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol",
                    "event_image_url" : "https://placeholdit.imgix.net/~text?txtsize=18&txt=86%C3%97114&w=86&h=114",
                    "category" : "Holiday Lights",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol"
                }
                  ],
            "ongoing" : [
                {
                    "eventTitle" : "'DIE HARD' IN THE PARKING LOT",
                    "date" : "December 23, 2016",
                    "eventLocation" : "SAINT ARNOLD BREWERY",
                    "event_location_website" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "eventAddress" : "2000 LYONS AVE | HOUSTON, TX 77020",
                    "eventTimes" : "6:00 PM to 10:00 PM",
                    "eventAdmission" : "Free",
                    "eventDescription" : "'Die Hard' in Parking Lot presented by Alamo Drafthouse Rolling Roadshow - Starts at 6:00 PM",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "event_image_url" : "",
                    "category" : "Outdoor",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "1 HOUR MINI-MYSTERY",
                    "date" : "Every Friday From 7-8pm",
                    "eventLocation" : "MURDER BY CHOCOLATE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/murder-by-chocolate/27747/",
                    "eventAddress" : "18201-B EGRET BAY BLVD. | HOUSTON, TX 77058",
                    "eventTimes" : "7:00 PM to 8:00 PM",
                    "eventAdmission" : "$20 per person",
                    "eventDescription" : "A Hilarious Guest Interactive Mystery Theater where a Crime takes place and then YOU have a choice...-Sit back relax and try to solve a mystery... OR-Take on a starring rolePerhaps be the murderer or be murdered!",
                    "areaOfTown" : "League City",
                    "event_website_url" : "http://www.murderbychocolate.com/mini-mystery",
                    "event_image_url" : "http://www.murderbychocolate.com/img/2372/019.jpg?sitetimestamp=636175113580000000",
                    "category" : "Annual Events",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "http://www.murderbychocolate.com/mini-mystery"
                }
                  ]
        }

## Categories [/categories]

### List all Categories [GET]

  + Response 200 (application/json)

        {
            "thingsCategories": [
                "Live Music",
                "Dating",
                "Free Things",
                "CityPASS",
                "Houston & Beyond",
                "Kids",
                "Museums",
                "Shopping",
                "Performing Arts",
                "Sports",
                "Tours",
                "Parks & Outdoors",
                "Golf Courses",
                "Spas & Fitness",
                "Historic Sites",
                "Creative Classes",
                "Other"
            ],
            "eventCategories": [
                "Holiday Lights",
                "Annual Events",
                "Kid-Friendly",
                "Concerts & Live Music",
                "Free",
                "Festivals",
                "Sports",
                "Food & Drink",
                "Outdoor",
                "Museum Exhibitions",
                "Theater & Performing Arts"
            ]
        }

## Things TO DO [/thingstodo]

### List all Things To DO [GET]

  + Response 200 (application/json)

        {
          "attractions" : [
              {
                "name" : "14 Pews",
                "phone" : "(281) 888-9677",
                "address" : "800 Aurora Street | Houston, TX 77009",
                "areaOfTown" : "Houston Heights",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_14-Pews.jpg",
                "website" : "http://14pews.com/pages/home.asp",
                "description" : "Taking over the space that once housed the Aurora Picture Show, the new 14 Pews microcinema is the brainchild of proprietor Cressandra Thibodeaux who recently returned to Houston from Los Angeles. The small cinema space reopened in August 2010 in the old white wooden church at 800 Aurora and is already garnering praise for its innovative and sometimes provocative programming.\n\nFilms including Crawford: A Documentary, Outrage and For the Bible Tells Me So are showing here and plans are underway to bring more independent films and documentaries to the fledgling organization, as well as community events and small film festivals.\n\n14 Pews aims to pick up the space’s legacy of bringing a convergence of artistic opportunity to the Heights.",
                "ammenities" : [],
                "meeting_facilities" : [{}]
              },
              {
                "name" : "8th Wonder Brewery",
                "phone" : "(713) 229-0868",
                "address" : "2202 Dallas Street | Houston, TX 77003",
                "areaOfTown" : "EaDo/East End",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_8th-wonder-5.jpg",
                "website" : "http://8thwonderbrew.com",
                "description" : "The brains behind Houston’s Eatsie Boys food truck and Eatsie Boys Cafe have branched out with another concept, 8th Wonder Brewery.\n\nLocated in EaDo and named after the city’s iconic Astrodome, this brewery produces seasonal selections and limited-edition offerings. The brewery began offering tours in May 2013.\n\nPracticing their craft in a dome-like warehouse on the edge of Downtown and in the shadow of the major sports stadiums, these brewers say they are making Houston's 'craft beer for the home team.' The brews themselves are unique, ranging from the Rocket Fuel (Vietnamese coffee infused Porter) to the MCA Rauch, a classic Bamburg Rauch beer.",
                "ammenities" : [
                  "Outdoor Area",
                  "Self Parking",
                  "Free Wireless",
                  "Live Music",
                  "Pet Friendly",
                  "Accessible via Light Rail",
                  "Wireless",
                  "ADA Accessible"
                ],
                "meeting_facilities": [
                        {
                        "number_of_rooms": 4,
                        "total_squared_feet": 5000,
                        "Audio/Visual": true,
                        "On-Site Catering": true,
                        "Private Room": true
                        }
                    ]
                }
            ]
        }