FORMAT: 1A
HOST: https://private-478a2-livehouston.apiary-mock.com

# LiveHouston API

The LiveHouston API drives the LiveHouston Mobile Apps (iOS and Android)

## Events [/events]

### List all Events [GET]

  + Response 200 (application/json)

        {
            "featured" : [
                {
                    "eventTitle" : "7TH ANNUAL WAVE HOLIDAY LIGHTS TOURS",
                    "date" : "December 13, 2016 - December 22, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "1160 W. 26TH STREET | HOUSTON, TX 77008",
                    "eventTimes" : "6:30 PM to 9:30 PM",
                    "eventAdmission" : "$35",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.eventbrite.com/e/7th-annual-wave-holiday-lights-tours-tickets-29053805715",
                    "event_image_url" : "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F25752908%2F18565618941%2F1%2Foriginal.jpg?w=800&rect=0%2C0%2C650%2C325&s=039a59c7642a7c5e331a4330902e3a6c",
                    "category" : "Holiday Lights",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "A CHRISTMAS CAROL-A GHOST STORY OF CHRISTMAS",
                    "date" : "November 19, 2016 - December 29, 2016",
                    "eventLocation" : "ALLEY THEATRE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/alley-theatre/19464/",
                    "eventAddress" : "615 TEXAS AVENUE | HOUSTON, TX 77002",
                    "eventTimes" : "Varies",
                    "eventAdmission" : "$35-$70",
                    "eventDescription" : "First we will go by City Hall to see the awesome tree then Discovery Green, Field of Lights. Then we will head into River Oaks. Last we will drive through Woodland Heights. We will be giving you a chance to get out & walk around at each spot if you want to take some pictures. There is no public restroom once the tour starts until we get to Discovery Green. Our windows are tinted, but you can still see out and most people have wanted to get out & walk around at the stops. You will be able to see all the pictures we take.\nKid friendly. Kids do need a seat, but if you are okay with lapping a child 4 & under, then they do not need a ticket.",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol",
                    "event_image_url" : "https://placeholdit.imgix.net/~text?txtsize=18&txt=86%C3%97114&w=86&h=114",
                    "category" : "Holiday Lights",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "https://www.alleytheatre.org/plays/production-detail/christmas-carol"
                }
                  ],
            "ongoing" : [
                {
                    "eventTitle" : "'DIE HARD' IN THE PARKING LOT",
                    "date" : "December 23, 2016",
                    "eventLocation" : "SAINT ARNOLD BREWERY",
                    "event_location_website" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "eventAddress" : "2000 LYONS AVE | HOUSTON, TX 77020",
                    "eventTimes" : "6:00 PM to 10:00 PM",
                    "eventAdmission" : "Free",
                    "eventDescription" : "'Die Hard' in Parking Lot presented by Alamo Drafthouse Rolling Roadshow - Starts at 6:00 PM",
                    "areaOfTown" : "Downtown",
                    "event_website_url" : "http://www.saintarnold.com/christmas-week-at-saint-arnold/",
                    "event_image_url" : "",
                    "category" : "Outdoor",
                    "tickets_available" : "False",
                    "buy_tickets_url" : ""
                },
                {
                    "eventTitle" : "1 HOUR MINI-MYSTERY",
                    "date" : "Every Friday From 7-8pm",
                    "eventLocation" : "MURDER BY CHOCOLATE",
                    "event_location_website" : "https://www.visithoustontexas.com/listings/murder-by-chocolate/27747/",
                    "eventAddress" : "18201-B EGRET BAY BLVD. | HOUSTON, TX 77058",
                    "eventTimes" : "7:00 PM to 8:00 PM",
                    "eventAdmission" : "$20 per person",
                    "eventDescription" : "A Hilarious Guest Interactive Mystery Theater where a Crime takes place and then YOU have a choice...-Sit back relax and try to solve a mystery... OR-Take on a starring rolePerhaps be the murderer or be murdered!",
                    "areaOfTown" : "League City",
                    "event_website_url" : "http://www.murderbychocolate.com/mini-mystery",
                    "event_image_url" : "http://www.murderbychocolate.com/img/2372/019.jpg?sitetimestamp=636175113580000000",
                    "category" : "Annual Events",
                    "tickets_available" : "True",
                    "buy_tickets_url" : "http://www.murderbychocolate.com/mini-mystery"
                }
                  ]
        }

## Categories [/filter_categories]

### List all Filter Categories [GET]

  + Response 200 (application/json)

        [
            {
                "created_at": "2017-01-16T02:26:31.328Z",
                "id": 1, 
                "title": "Attractions", 
                "updated_at": "2017-01-16T02:26:31.328Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/1.json"
            },
            {
                "created_at": "2017-01-16T02:26:41.856Z",
                "id": 2,
                "title": "Event Centers",
                "updated_at":"2017-01-16T02:26:41.856Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/2.json"
            },
            {
                "created_at":"2017-01-16T02:26:53.505Z",
                "id":3,
                "title":"Golf Courses",
                "updated_at":"2017-01-16T02:26:53.505Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/3.json"
            },
            {
                "created_at":"2017-01-16T02:27:03.021Z",
                "id":4,
                "title":"Health \u0026 Fitness",
                "updated_at":"2017-01-16T02:27:03.021Z",
                "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/4.json"
            },
            {
                "created_at":"2017-01-16T02:27:11.703Z",
            "id":5,
            "title":"Historic Sites",
            "updated_at":"2017-01-16T02:27:11.703Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/5.json"
            },
            {
            "created_at":"2017-01-16T02:27:21.978Z",
            "id":6,
            "title":"Museums",
            "updated_at":"2017-01-16T02:27:21.978Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/6.json"
            },
            {
            "created_at":"2017-01-16T02:27:32.007Z",
            "id":7,
            "title":"Parks \u0026 Outdoors",
            "updated_at":"2017-01-16T02:27:32.007Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/7.json"
            },
            {
            "created_at":"2017-01-16T02:27:41.078Z",
            "id":8,
            "title":"Restaurants",
            "updated_at":"2017-01-16T02:27:41.078Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/8.json"
            },
            {
            "created_at":"2017-01-16T02:27:47.824Z",
            "id":9,
            "title":"Shopping",
            "updated_at":"2017-01-16T02:27:47.824Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/9.json"
            },
            {
            "created_at":"2017-01-16T02:27:56.581Z",
            "id":10,
            "title":"Theatre",
            "updated_at":"2017-01-16T02:27:56.581Z",
            "url":"https://hidden-wildwood-14228.herokuapp.com/filter_categories/10.json"
            }
        ]

## Things TO DO [/thingstodo]

### List all Things To DO [GET]

  + Response 200 (application/json)

        {
          "attractions" : [
              {
                "name" : "14 Pews",
                "phone" : "(281) 888-9677",
                "address" : "800 Aurora Street | Houston, TX 77009",
                "areaOfTown" : "Houston Heights",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_14-Pews.jpg",
                "website" : "http://14pews.com/pages/home.asp",
                "category" : "Other",
                "description" : "Taking over the space that once housed the Aurora Picture Show, the new 14 Pews microcinema is the brainchild of proprietor Cressandra Thibodeaux who recently returned to Houston from Los Angeles. The small cinema space reopened in August 2010 in the old white wooden church at 800 Aurora and is already garnering praise for its innovative and sometimes provocative programming.\n\nFilms including Crawford: A Documentary, Outrage and For the Bible Tells Me So are showing here and plans are underway to bring more independent films and documentaries to the fledgling organization, as well as community events and small film festivals.\n\n14 Pews aims to pick up the space’s legacy of bringing a convergence of artistic opportunity to the Heights.",
                "ammenities" : [],
                "meeting_facilities" : [{}]
              },
              {
                "name" : "8th Wonder Brewery",
                "phone" : "(713) 229-0868",
                "address" : "2202 Dallas Street | Houston, TX 77003",
                "areaOfTown" : "EaDo/East End",
                "detailImageURL" : "https://res-2.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_8th-wonder-5.jpg",
                "website" : "http://8thwonderbrew.com",
                "category" : "",
                "description" : "The brains behind Houston’s Eatsie Boys food truck and Eatsie Boys Cafe have branched out with another concept, 8th Wonder Brewery.\n\nLocated in EaDo and named after the city’s iconic Astrodome, this brewery produces seasonal selections and limited-edition offerings. The brewery began offering tours in May 2013.\n\nPracticing their craft in a dome-like warehouse on the edge of Downtown and in the shadow of the major sports stadiums, these brewers say they are making Houston's 'craft beer for the home team.' The brews themselves are unique, ranging from the Rocket Fuel (Vietnamese coffee infused Porter) to the MCA Rauch, a classic Bamburg Rauch beer.",
                "ammenities" : [
                  "Outdoor Area",
                  "Self Parking",
                  "Free Wireless",
                  "Live Music",
                  "Pet Friendly",
                  "Accessible via Light Rail",
                  "Wireless",
                  "ADA Accessible"
                ],
                "meeting_facilities": [
                        {
                        "number_of_rooms": 4,
                        "total_squared_feet": 5000,
                        "audio_visual" : "Audio/Visual",
                        "On-Site Catering": true,
                        "Private Room": true
                        }
                    ]
                },
                {
                  "name" : "The 1940 Air Terminal Museum",
                  "phone" : "(713) 454-1940",
                  "address" : "8325 Travelair Street | Houston, TX 77061",
                  "areaOfTown" : "Hobby Airport/Third Ward",
                  "detailImageURL" : "https://res-1.cloudinary.com/simpleview/image/fetch/c_limit,f_auto,h_640,q_60,w_800/http://Houston.simpleviewcrm.com/images/listings/original_1940-air-terminal-2.jpg",
                  "website" : "http://www.1940airterminal.org",
                  "category" : "Airport",
                  "description" : "The 1940 Air Terminal Museum is the only educational institution in Houston dedicated to promoting the city's significant civil aviation history.\n\nThe Houston Municipal Airport Terminal is a beautiful and rare example of classic art deco airport architecture from the golden age of flight. The Terminal served Houston during the years when air travelers dressed in their finest and embarked for exotic destinations aboard roaring propliners like the Douglas DC-3 and the Lockheed Constellation.\n\nDesigned by noted architect Joseph Finger (who also designed Houston's City Hall), the Terminal was built to meet Houston's growing role as a major center for air commerce in the 1930s. The Terminal was completed in 1940 and served as the primary commercial air terminal for Houston until 1954.\n\nWhile most major cities have razed the beautiful art deco airport terminals of the 1930s and 1940s to make way for modern buildings, jet traffic or the closing of airports, the Houston Municipal Airport Terminal stands on William P. Hobby Airport as a quiet monument to the rich and varied history of aviation in the region.\n\nThe Aviation Heritage Gallery features exhibits on the Douglas DC-3, including original oil paintings by Jonathan Frank.\n\nThe Airline Galleries, Hall of Flight, and Starliner Theater feature original aviation art, stunning period photographs, outstanding scale aircraft models, artifacts, uniforms, memorabilia and documents of various airlines, Howard Hughes and Houston Cessna dealer King Cruse.\n\nThe Aviation Meteorology and Air Traffic Control Galleries feature vintage weather and ATC equipment such as teletypes, radios, and light guns as well as weather charts and navigational maps. The galleries also feature Houston's aviation history and the history of learning to fly.\n\nThe Children's Dream of Flight Gallery features vintage aviation toys, games, and books as well as an aviation play table and reading library to inspire young visitors to dream of flight.",
                  "ammenities" : [
                    "Child Rates",
                    "Private Room for Special Events",
                    "ADA Accessible",
                    "Motorcoach Parking",
                    "Gift Shop",
                    "Wireless",
                    "Advance Notice Required for Groups"
                  ],
                  "meeting_facilities": [
                    {
                      "number_of_rooms" : 3,
                      "banquet_capacity" : 200,
                      "reception_capacity" : 500,
                      "audio_visual" : "Audio/Visual"
                    }
                  ]
                  }
            ]
        }
        
## Featured Events [/featured] 

### List all Featured Events [GET]

+ Response 200 (application/json)

        {
            "featured_events": [
                {
                "event_address": "1300 HOLMAN STREET | HOUSTON, TX 77004",
                "event_date" : "January 14, 2017",
                "event_category": "FEATURED",
                "event_description": "The MLK Youth Parade Will Kick-off The 2017 MLK Holiday Wekend. The Parade Will be Held On january 14, 2017 In Houston's Midtown Originating On San Jacinto Street \u0026 Elgin Street Beginning @ 12 Noon (CST).",
                "event_image_url": "https://res-3.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/ff2c53be-e9ae-4c7f-b66d-3a0875e400a7.jpg",
                "event_phone": "713-953-1633",
                "event_website": "http://www.mlkgrandeparade.org",
                "tickets_available": false, 
                "id": 1,
                "buy_tickets_url": null,
                "title": "11TH ANNUAL MLK YOUTH PARADE"
                },
                {
                "event_address": "1515 HERMANN DRIVE | HOUSTON, TX 77004",
                "event_date" : "January 14, 2017 - April 23, 2017",
                "event_category": "FEATURED",
                "event_description": "Body Worlds RX at The Health Museum is a prescription for healthy living. Take one large dose of enlightenment during the Houston debut of Body Worlds RX. Real human bodies show you details of today's common diseases and the inner workings of your anatomy. Be inspired and empowered to take steps toward a healthier life.\\n\\nFrom organs to muscles to the nervous system and to skeletal structures, Body Worlds RX gives an unprecedented look inside the most sophisticated mechanism in the world, the human body.",
                "event_image_url": "https://res-1.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/5e11133d-698d-4ac9-b34c-b032ce7e9349.jpg",
                "event_phone": null,
                "event_website": "http://www.mhms.org/ManageDetail/Detail_Default.aspx?contentid=1949\u0026categoryid=420",
                "tickets_available": false, 
                "id": 2,
                "buy_tickets_url": " ",
                "title": "BODY WORLDS RX"
                },
                {
                "event_address": "1001 AVENIDA DE LAS AMERICAS | HOUSTON, TX 77010",
                "event_date" : "January 15, 2017",
                "event_category": "FEATURED",
                "event_description": "This annual 26.2, 13.1 and 3.1 mile run, which begins and ends at downtown's George R. Brown Convention Center, has steadily grown to attract more than 20,000 entrants from around the world and 200,000 spectators.",
                "event_image_url": "https://res-5.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/https://Houston.simpleviewcrm.com/images/calendar/6f3a39e5-9732-cb42-dc13ebfdefcfa11a.jpg",
                "event_phone": "713-957-3453",
                "event_website": "http://www.chevronhoustonmarathon.com/",
                "tickets_available": true, 
                "id": 3,
                "buy_tickets_url": "https://www.visithoustontexas.com/listings/george-r-brown-convention-center/22562/",
                "title": "The 1940 Air Terminal Museum"
                },
                {
                "event_address": "12303 SONNIER STREET | HOUSTON, TX 77044",
                "event_category": "FEATURED",
                "event_description": "Alexander Deussen (1882-1959), a petroleum geologist, donated a 309-acre site on Lake Houston to Harris County in 1956. The site was converted into a public park and named the Alexander Deussen Park.\n\nThe highlight of the park is a herd of buffalo, giving visitors the opportunity to view these large and beautiful creatures in a natural setting. There is no charge to use the boat ramps at Alexander Deussen Park, and fishing is permitted from piers.\n\nThe 2.5-mile jogging trail has an asphalt surface with exercise equipment along the trail.\n\nThere are 3 multi-purpose fields located in this park. These fields can be used for baseball/softball, football and/or soccer. The fields can be reserved, however reservations are not required. Lighting is not available.\n\nReservations of 150 people or more is required for the use of the Open Air Pavilion. Kitchen facilities, lights, and electrical outlets are available. Wood and charcoal barbeque grilling is also available. Seating capacity for the Open Air Pavilion is 400. Volleyball poles are available for use. Nets and balls not provided. There are 230 cement picnic tables available, in which some are handicap accessible.\n\nNew play structures with shade canopies were installed in 2011.",
                "event_image_url": "https://www.visithoustontexas.com/includes/public/assets/images/default.png",
                "event_phone": "713.440.1587",
                "event_website": "https://www.visithoustontexas.com/plugins/crm/count/?type=server&key=4_20062&val=5e48a1701650c96b7ad494b0fb6e9752ee631bb76b47365ea4d29cfaef896d8bf08e96801a74bc9cd2f6a2ef7e8e9395b5a44e702bfd5c9046f5264ddf81b6e95e4286c08d57323e9b39c344c6a0",
                "tickets_available": true, 
                "id": 4,
                "buy_tickets_url": " ",
                "title": "Alexander Deussen Park"
                },
                {
                "event_address": "",
                "event_category": "",
                "event_description": "",
                "event_image_url": "https://res-3.cloudinary.com/simpleview/image/fetch/c_fill,f_auto,g_center,h_400,q_60,w_600/http://Houston.simpleviewcrm.com/images/calendar/ff2c53be-e9ae-4c7f-b66d-3a0875e400a7.jpg",
                "event_phone": "",
                "event_website": "",
                "tickets_available": true, 
                "id": 5,
                "buy_tickets_url": " ",
                "title": "11TH ANNUAL MLK YOUTH PARADE MIDTOWN HOUSTON"
                },
            ]
        }